body {
  text-align: left;
  padding: 5%;
}

.selected {
  font-weight: bold;
  display: inline;
}

.colour {
  float: left;
}

.capacity {
  float: right;
}
.gold {
  background-color: gold;
  border-radius: 5px;
  margin: 5px;
  float: left;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.silver {
  background-color: silver;
  border-radius: 5px;
  margin: 5px;
  float: left;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.spaceGrey {
  background-color: black;
  border-radius: 5px;
  margin: 5px;
  float: left;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.size {
  background-color: lightgrey;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  float: right;
  height: 45px;
  width: 45px;
  padding: 12px 0;
  cursor: pointer;
}

.cost {
  background-color: lightgrey;
  padding: 10px;
  float: right;
  height: 140px;
  width: 40%;
}

.upfront {
  text-align: left;
  padding: 30px 0;
}

.monthly {
  text-align: right;
  padding: 30px 0;
}

.price {
  color: red;
  font-weight: bold;
  font-size: 30px;
}

.line {
  text-align: center;
  font-weight: lighter;
  margin: 10px;
  font-size: 80px;
}
