body {
  text-align: left;
  padding: 5%;
}

.phoneImage {
  float: left;
  width: 26%;
  margin-right: 5%;
}

.information {
  padding: 3px 30px 3px 400px;
  font-weight: lighter;
}

.model, .description {
  font-weight: lighter;
}

.selection {
  padding: 3px 30px 3px 400px;
  vertical-align: top;
}

.selected {
  font-weight: bold;
  display: inline;
}

.colour {
  display: inline-block;
  width: 20%;
}

.capacity {
  display: inline-block;
  margin-left: 30%;
}

.gold, .silver, .spaceGrey{
  vertical-align: top;
  border-radius: 5px;
  border: solid lightgrey;
  display: inline-block;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.gold {
  background-color: gold;

}

.silver {
  background-color: silver;
  margin-left: 5px;
}

.spaceGrey {
  background-color: black;
  margin-left: 5px;
}

.sixtyFour, .twoFiveSix {
  background-color: #F5F5F5;
  border: solid lightgrey;
  vertical-align: top;
  border-radius: 5px;
  display: inline-block;
  height: 45px;
  width: 45px;
  text-align: center;
  padding: 12px 0;
  cursor: pointer;
}

.sixtyFour {
  margin-left: 29%;
}

.twoFiveSix {
  margin-left: 5px;
}

.cost {
  background-color: #F5F5F5;
  float: right;
  width: 65%;
}

.line {
  display: inline-block;
  font-weight: lighter;
  font-size: 80px;
  margin-left: 100px;
}

.upfront, .monthly {
  margin-left: 20px;
  vertical-align: text-bottom;
  display: inline-block;
}

.price {
  color: red;
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
}
