body {
  text-align: left;
  padding: 5%;
  width: 1150px;
}

.phoneImage {
  float: left;
  width: 250px;
  margin-right: 5%;
}

.information {
  padding: 3px 30px 3px 400px;
  font-weight: lighter;
}

.model {
  font-family: sans-serif;
  font-weight: lighter;
}

.description {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: lighter;
}

.selection {
  padding: 3px 30px 3px 400px;
  vertical-align: top;
  margin-top: 20px;
}

.selected {
  font-weight: bold;
  display: inline;
}

.colour {
  display: inline-block;
  width: 160px;
}

.capacity {
  display: inline-block;
  margin-left: 200px;
}

.gold, .silver, .spaceGrey{
  vertical-align: top;
  margin-top: 20px;
  border-radius: 10px;
  border: solid lightgrey;
  display: inline-block;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.gold {
  background-color: gold;

}

.silver {
  background-color: silver;
  margin-left: 5px;
}

.spaceGrey {
  background-color: black;
  margin-left: 5px;
}

.sixtyFour, .twoFiveSix {
  background-color: #F5F5F5;
  border: solid lightgrey;
  vertical-align: top;
  margin-top: 20px;
  border-radius: 10px;
  display: inline-block;
  height: 45px;
  width: 45px;
  text-align: center;
  padding: 12px 0;
  cursor: pointer;
}

.sixtyFour {
  margin-left: 220px;
}

.twoFiveSix {
  margin-left: 5px;
}

.cost {
  background-color: #F5F5F5;
  float: right;
  width: 600px;
  margin-right: 50px;
  margin-top: 100px;
}

.line {
  display: inline-block;
  color: lightgrey;
  font-weight: lighter;
  font-size: 100px;
  margin-left: 100px;
}

.upfront, .monthly {
  margin-left: 20px;
  vertical-align: text-bottom;
}

.price {
  color: red;
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
}
